In [41]:
import pandas as pd

In [42]:
election_data = "election_data.csv"

In [43]:
election_df= pd.read_csv(election_data)

In [44]:
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [45]:
total = len(election_df)

In [46]:
election_df["Candidate"].unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [47]:
list = election_df["Candidate"].value_counts()
candidates = pd.DataFrame(list)
print(candidates)

          Candidate
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630

In [107]:
percent = (candidates["Candidate"]/total)*100
percent = round(percent,3)
candidates["Percent"]=percent
print(candidates)

          Candidate  Percent Last Name
Khan        2218231     63.0      Khan
Correy       704200     20.0    Correy
Li           492940     14.0        Li
O'Tooley     105630      3.0  O'Tooley

In [108]:
candidates["Candidate"][0]

2218231

In [109]:
list_candidates=candidates.index

In [110]:
candidates["Last Name"]=list_candidates

In [111]:
print(candidates)

          Candidate  Percent Last Name
Khan        2218231     63.0      Khan
Correy       704200     20.0    Correy
Li           492940     14.0        Li
O'Tooley     105630      3.0  O'Tooley

In [112]:
print("Election Results")
print("-----------------------------------------")
print(f'Total Votes: {total}')
print("-----------------------------------------")
for index, row in candidates.iterrows():
    print('{0}'.format(row['Last Name'])+": "+'{0}'.format(row['Percent'])+"% (" + '{0}'.format(row['Candidate'])+")")

Election Results
-----------------------------------------
Total Votes: 3521001
-----------------------------------------
Khan: 63.0% (2218231)
Correy: 20.0% (704200)
Li: 14.0% (492940)
O'Tooley: 3.0% (105630)